<div class="modal-header">
	<button type="button" class="close" {{action close}}>&times;</button>
	<h3>New Expense</h3>
</div>
<div>
<form {{action "save" expensesMaxId on="submit"}}>
<div class="modal-body">
	<table class="table modaltable">
		<tr>
			<td><label for="date">Date </label></td>
			<td>{{view App.DateField dateBinding="expenseDate" id="date"}}</td>
		</tr>
		<tr>
			<td><label for="description">Description </label></td>
			<td>{{input type="text" value=description id="description"}}</td>
		</tr>
		<tr>
			<td><label>Who Paid? </label></td>
			<td>
			{{radio-component content=controllers.persons.content value=selectedPayer}}
			</td>
		</tr>
		<tr>
			<td><label for="amount">Amount </label></td>
			<td>{{input type="text" value=amount id="amount"}}</td>
		</tr>
		<tr>
			<td><label>For Whom? </label></td>
			<td>
			{{checkbox-component content=controllers.persons.content value=selectedPayees}}
			{{controllers.persons.content.name}}
			</td>
		</tr>	
	</table>
</div>
<div class="modal-footer">
	<input type="button" class="btn" {{action "saveAndNew" personsMaxId}} value="Save and New"/>
        <input type="submit" class="btn btn-primary" value="Save"/>
	<input type="button" class="btn" {{action "close"}} value="Cancel"/>
</div>
</form>
</div>
