<div>Add Expense</div>
<div><button {{action 'addNewExpense'}}>Add new expense</button></div>
{{#if newExpense}}
<div>Who paid: {{#each users as |user|}}
    <label>{{user.name}}</label>
    {{input type="checkbox" checked=user.hasPaid}}
{{/each}}</div>
<div>Description: {{input type="text" placeholder="Item type" value=description}}</div>
<div>Amount: {{input type="text" placeholder="Amount" value=amount}}</div>
<div>
Paid for: {{#each users as |user|}}
    <label>{{user.name}}</label>
    {{input type="checkbox" checked=user.hasReceived}}
{{/each}}
</div>
<div><button {{action 'splitUnequal'}}>Split Unequally</button>{{#if splitUnequally }}<button {{action 'splitUnequalCancel'}}>X</button>{{/if}}</div>
{{#if splitUnequally}}
<div>
{{#each users as |user|}}
{{#if user.hasReceived}}
    <label>{{user.name}}</label>
    {{input type="text" placeholder="Amount" value=user.unequalAmount}}
{{/if}}
{{/each}}
</div>
{{/if}}
<button {{action 'cancelExpense'}}>Cancel</button>
<button {{action 'addExpense'}}>Add</button>
{{/if}}
{{#if success}}
<div>Expense Successfully Added</div>
{{/if}}
<div>Recent Expenses</div>
<div>
	<ul>
	<table>
	<th>
		<td>From...........</td>
		<td>To...........</td>
		<td>Amount...........</td>
		<td>Description...........</td>
        <td>Date...........</td>
	</th>
	{{#each expenses as |expense|}}
	<tr>
		<td>{{expense.from_id}}</td>
		<td>{{expense.to_id}}</td>
		<td>{{expense.amount}}</td>
		<td>{{expense.description}}</td>
        <td>{{expense.date}}</td>
	</tr>
	{{/each}}
	</table>
	</ul>
</div>

{{yield}}
