<div class="heading">Add New Member</div>
<div>
{{input type="text" placeholder="Name" value=name class="textBox"}}
{{input type="text" placeholder="Phone number" value=phone class="textBox"}}
<button class="buttonStyle" {{action 'addUser'}}>Add</button>
</div>
<div class="heading">Group Members</div>
<div>
	<table>
		<tr>
			<td style="font-weight: bolder; color: white;">Name</td>
			<td style="font-weight: bolder; color: white;">Phone</td>
		</tr>
		{{#each users as |user|}}
		<tr>
		<td>{{user.name}}</td>
		<td>{{user.phone}}</td>
		</tr>
		{{/each}}
	</table>
</div>
{{yield}}
