<div class="heading">Add New Member</div>
<div>
{{input type="text" placeholder="Name" value=name class="textBox"}}
{{input type="text" placeholder="Phone number" value=phone class="textBox"}}
</div>
<button class="buttonStyle" {{action 'addUser'}}>Add</button>
<div class="division">
<div class="heading">Group Members</div>
	<table>
		<tr>
			<td class="tableHeading">Name</td>
			<td class="tableHeading">Phone</td>
		</tr>
		{{#each users as |user|}}
		<tr>
		<td>{{user.name}}</td>
		<td>{{user.phone}}</td>
		</tr>
		{{/each}}
	</table>
</div>
{{yield}}
