{{#bs-modal body=false footer=false header=false keyboard=false autoClose=false}}
      <div class="modal-header">
        <button type="button" class="close" {{action "closePopup"}}><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title">Add Person</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="personName">Person Name</label>
            {{input value=person_name name="personName" placeholder="Full Name" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="displayName">Display Name</label>
            {{input value=display_name name="displayName" placeholder="Display Name" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            {{input value=comment name="comment" placeholder="Comment" class="form-control"}}
          </div>
        </form>
      </div>
      <div class="modal-footer" >
        {{spin-button isLoading=isLoading buttonText="Save & New"  action='addPerson' param="new" class_name="btn btn-primary" tagName=''}}
        {{spin-button isLoading=isLoading buttonText="Save"  action='addPerson' class_name="btn btn-primary" tagName=''}}
        <button type="button" class="btn btn-default" {{action "closePopup"}}>Close</button>
      </div>
{{/bs-modal}}
