<div class="data-container p-t-0">

  <div class="row">
    <div class="col-xs-12">
      <h3>Expences Summary</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
                Name
            </th>
            <th>
                Expences
            </th>
            <th>
                Total Spent
            </th>
            <th>
                Owes (Had To Pay)
            </th>
            <th>
                Is Owned (paid for himself)
            </th>
            <th>
                Balance
            </th>
          </tr>
        </thead>
        <tbody>

      {{#each person as |person|}}
        <tr>
          <td>{{person.display_name}}</td>

          <td>{{summary.expence-count person controller.expence}}</td>

          <td>{{summary.total-spent person controller.expence}}</td>

          <td>{{summary.total-owes person controller.expence}}</td>

          <td>{{summary.total-owned person controller.expence}}</td>

          <td>{{summary.total-balance person controller.expence}}</td>
        </tr>
      {{/each}}

      </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <h3>Payments</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Amount
            </th>
            <th>
                Action
            </th>
          </tr>
        </thead>
        <tbody>

      {{#each payment in payments }}
        <tr>
          <td>{{payment.payer.display_name}}</td>

          <td>{{payment.payee.display_name}}</td>

          <td>{{round-number payment.amount}}</td>

          <td>
            {{spin-button isLoading=isLoading buttonText="Pay"  action='pay' param=payment class_name="btn btn-primary" tagName=''}}
          </td>
        </tr>
      {{/each}}

      </tbody>
      </table>
    </div>
  </div>

  {{outlet}}
</div>
